$main-font: 14px;

$color-accent: #8F7CFF;
$color-main-black: #05070F;
$color-gray-text: #7F8095;
$color-gray-text-sub: #3F3F3F;


$bg-block: rgba(#343A4A, .5);
$bg-card: #2B2F3B;

$ff: 'Inter', sans-serif;